<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InspectionReportWebApp.Properties.Settings.InspectionReportConnectionString"
            connectionString="Data Source=DESKTOP-HTKIB76\SQLEXPRESS01;Initial Catalog=InspectionReport;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>